body{
    background-color: #98effa;
    font-family: Arial, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    text-align: center;
    border: 2px solid #9bc2eb00;
    border-radius: 10px;
    padding: 30px;
    margin: 50px auto;
    max-width: 500px;
    background-color: #5cd48c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1{
    color: #111010;
    font-family: Arial, sans-serif;
    font-size: 3em;
}
p {
    color: #4b4949;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
}
input[type="number"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;

}
button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #a72861;
    color: white;
    border: none;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s, transform 0.2s;
}
button:hover {
    background-color: #680843;
    transform: scale(1.05);
}
button:active {
    background-color: #1e7e34;
}
#resultMessage {
    margin-top: 20px;
    font-size: 1.2em;
    color: #2a6fe7;
}
#resetGame {
    background-color: #e72a2a;
}
#resetGame:hover {
    background-color: #b30000;
}
#resetGame:active {
    background-color: #800000;
}

