body {
    font-family: Arial, sans-serif;
    background-color: hsl(212, 72%, 63%);
display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: hsl(352, 77%, 36%);
    font-size: 2.5em;
}

form {
    background-color: hsl(184, 60%, 76%);
    text-align: center;
    max-width: 500px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#textBox {
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsla(0, 25%, 98%, 0.8);
    border-radius: 4px;
    margin-bottom: 25px;
    
}

label {
    font-size:20px;
    font-weight: 500;
    color: rgb(80, 76, 76);
    margin-bottom: 25px;
    line-height: 35px;
}

button {
    margin-top: 15px;
    background-color: hsl(120, 58%, 54%);
    font-size: 1.2em;
    color: white;
    width: 120px;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: hsl(120, 79%, 43%);
    scale: 1.05;
}

#result {
    font-size: 1.5em;
    font-weight: bold;
    color: hsl(352, 77%, 36%);
}